# see https://clang.llvm.org/docs/ClangFormatStyleOptions.html
---
Language: Cpp
Standard: "c++20"

BasedOnStyle: "Mozilla"

IndentWidth: 4
UseTab: Never
TabWidth: 4
ContinuationIndentWidth: 8
ConstructorInitializerIndentWidth: 8
AccessModifierOffset: -4
IndentCaseLabels: false
BreakStringLiterals: false

ColumnLimit: 120
