# see https://clang.llvm.org/docs/ClangFormatStyleOptions.html
---
Language: Cpp
Standard: "c++20"

# ---
BasedOnStyle: "Mozilla"

UseTab: Never
IndentCaseLabels: false
BreakStringLiterals: false

IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 8
ConstructorInitializerIndentWidth: 8
AccessModifierOffset: -4
ColumnLimit: 120


# ---
# BasedOnStyle: "Google"
#
# ColumnLimit: 72
# AccessModifierOffset: -2


